@font-face {
  font-family: 'BMJUAOTF00';
  src: url("../fonts/BMJUAOTF00.eot");
  src: url("../fonts/BMJUAOTF00.woff") format("woff"), url("../fonts/BMJUAOTF00.ttf") format("truetype"), url("../fonts/BMJUAOTF00.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
