@import url("./font.scss");
body {
  margin: 0;
  padding: 0;
  font-family: 'BMJUAOTF00'; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

.exit {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 9999; }

#root {
  width: 100%; }

.container {
  width: 100%; }

.center {
  text-align: center; }

ol, li {
  list-style: none; }

input {
  display: block; }
