// BeerRecommend.js
.main-wrapper {
    width: 100%;
}
// BeerTitle.js
.beer-title {
    text-align: center;
}

// BeerPhoto.js
.beer-image {
    width: 150px;
    display: block;
    margin: 0 auto;
}

// BeerContents.js
.beer-contents-wrapper {
    padding: 0 50px;
    ol {

    }
    p.keyword {
        
    }
}